<!-- View for individual person -->

<!DOCTYPE html>
<html>
  <!-- Head Partial -->
  <% include ../partials/head.ejs %>
  <body>
    <!-- Header Partial -->
    <% include ../partials/header.ejs %>
    <div>
      <!-- Name property -->
      <p><%= person.name %></p>
      <!-- FavoriteCity property -->
      <p><%= person.favoriteCity %> </p>
      <div>
        <!-- Anchor linking to edit route -->
        <a href=/people/<%= person.id %>/edit>
          Edit
        </a>
      </div>
      <div>
        <!-- Using method overide to perform DELETE request -->
        <form action="/people/<%=person.id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete <%= person.name %>" />
        </form>
      </div>

    </div>

  </body>
</html>
