<!-- View for individual person -->

<!DOCTYPE html>
<html>
  <!-- Head Partial -->
  <% include ../partials/head.ejs %>
  <body>
    <!-- Header Partial -->
    <% include ../partials/header.ejs %>
    <div class="person uk-position-center">
      <!-- Name property -->
      <p><span>Name:</span> <%= person.name %></p>
      <!-- FavoriteCity property -->
      <p><span>Favorite City:</span> <%= person.favoriteCity %> </p>
      <!-- Id of person -->
      <p><span>Id:</span> <%= person.id %> </p>
      <!-- Aligining buttons -->
      <div uk-grid>
        <div>
          <!-- Anchor linking to edit route -->
          <a class="uk-button uk-button-primary" href=/people/<%= person.id %>/edit>
            Edit
          </a>
        </div>
        <div>
          <!-- Using method overide to perform DELETE request -->
          <form action="/people/<%=person.id%>?_method=DELETE" method="POST">
            <input class="uk-button uk-button-danger" type="submit" value="Delete" />
          </form>
        </div>
      </div>

    </div>

  </body>
</html>
